:root{
    --main-color: #D98E04;
    --main-orange: #D97904;
    --main-brown: #A63F03;
    --main-white: #F9F8F7;
    --secundary-brown: #732002;
    --main-black: #0D0D0D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--main-black);
    color: var(--main-white);
    position: relative;
    overflow: hidden;
}
header {
    height: auto;
    width: 100%;
}
.contenedor_loader {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: porfavorfunciona 1.5s infinite ease-in-out;
}
.loader{
    margin-top: -65px;
    color: black;
    font-size: 15px;
    position: relative;
    animation-delay: -0.16s;
    
}
.loader:before,
.loader:after{
    content:'' ;
    position: absolute;
    top:0;
}
.loader:before{
    left: -3.5em;
    animation-delay: -0.32s;

}
.loader:after{
    left: 3.5em;
}

@keyframes porfavorfunciona {
0%,
80%,
100% {
    box-shadow:0 2.5em 0 -1.3em;
    
}
40%{
    box-shadow:0 2.5em 0 0;
}    

}
.header-container{
    height: 60px;
    background: var(--main-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-orange);
}
.header-container_scrolled{
    z-index: 3;
    width: 100%;
    position: fixed;
    background: rgba(13, 13, 13, 0.5);
    backdrop-filter: blur(15px);
}
.header-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.header-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Tamaño de los elementos*/
.header-signup a{
    display: flex;
    align-items: center;
}
.header-signup{
    margin-right: 7px;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo img{
height: 50px;
}
.header-signup img{
    width: 40px;
}
/*Tamaño del shopcar*/
.header-shopcar{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url("../icons/shopcar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 7px;
}
/*Posicionando el contador en el shopcar*/
.header-shopcar span{
    margin-left: 7px;
    margin-bottom: 10px;
}
/*Tamaño del button open navigation*/
.header-container2 .header-menu__open{
    margin-right: 20px;
    height: 23px;
    width: 30px;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../icons/menu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-menu__close{
    position: absolute;
    top: 20px;
    right: 25px;
    height: 43.75px;
    width: 43.75px;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../icons/menu__close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-menu{
    display: block;
    position: absolute;
    right: 0px;
    top: -400px;
    background: rgba(13, 13, 13, 0.75);
    width: 100vw;
    height: auto;
    backdrop-filter: blur(15px);
    transition: all 0.75s;
}

.header-menu nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.header-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.header-menu ul li{
    margin: 14px;
}
.header-menu ul a{
    text-decoration: none;
    color: var(--main-white);
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.header-menu ul a:hover{
    transition: all 0.5s;
    font-size: 4.2rem;
}
.header-menu ul a:active{
    transition: all 0.15s;
    color: var(--main-orange);
}

.menu_opened {
    z-index: 4;
    position: fixed;
    display: block;
    backdrop-filter: blur(15px);
    top: 0px;
    transition: all 0.75s;
}
.container_scrolled{
    padding-top: 60px;
}
.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-index .main-index-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.main-index .main-index-title h1{
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 7px;
}
.main-index .main-index-title p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 14px;
    margin-bottom: 25px;
}
.main-index .main-index-title img{
    width: 100%;
    max-width: 800px;
}
.main-index .main-index-carta h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--main-color);
}
.main-index-carta-container{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: space-around;
}
.main-index-carta-container__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-index-carta-container__item img{
    margin: 7px;
    width: 100%;
    max-width: 320px;
    box-shadow: #000000 0px 0px 10px;
    cursor: pointer;
}
.main-index-carta-container__item span{
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}
.main-index-carta-container__item img:hover{
    transition: all 0.5s;
    transform: scale(1.3);
}
.main-index-carta-container__item img:active{
    transition: all 0.5s;
    transform: scale(0.7);
}
/*
Modificando el footer
*/

footer .footer-main{
    
    width: 100%;
    margin-top: 25px;
    background: var(--main-black);
    border-top: var(--main-orange) solid 1px;
    padding-bottom: 60px;
}
footer .footer-main__social{
    padding-top: 20px;
    padding-bottom: 8px;
    text-align: center;
}
footer .footer-main__social span{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
}
.footer-main__contact-information {
    display: flex;
    justify-content: center;
    margin-top: 9px;
    margin-bottom: 9px;
}
.footer-main__information-container {
    display: flex;
    justify-content: space-between;
    width: 115px;
    height: auto;
    margin-bottom: 8px;
}
.footer-main__information-container .contact-information__img{
    width: 35px;
    height: 34.75px;
}
.instagram{
    background-image: url("../icons/instagram.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.facebook{
    background-image: url("../icons/facebook.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.twitter{
    background-image: url("../icons/twitter.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer-contact-us{
    display: flex;
    justify-content: space-around;
}
.footer-contact-us div {
    text-align: center;
}
.footer-contact-us div span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1px;
}
.footer-contact-us div a, .footer-contact-us div p{
    text-decoration: none;
    color: var(--main-white);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 84.69%;
}
.footer-write-us{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.footer-write-us span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
}
.footer-write-us a{
    text-decoration: none;
    color: var(--main-white);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 84.69%;
}

.footer-main h3{
    margin: 20px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    
}
.footer-local{
    margin-left: 10px;
}
.footer-tools{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: var(--main-orange);
}
.footer_btn-container{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
.footer_btn-container1, .footer_btn-container2, .footer_btn-container3{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;
} 

.btn_footer{
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
}
.btn_footer:hover{
    transition: all 0.5s;
    transform: scale(1.3);
}
.btn_footer:active{
    transition: all 0.2s;
    transform: scale(0.7);
}
.footer_btn-home{
    background-image: url("../icons/btnInicio.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer_btn-carta{
    background-image: url("../icons/btnCarta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.footer_btn-oferta{
    background-image: url("../icons/btnOferta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.parrilla, .brasa, .fast-food, .soup, .beverages{
    display: none;
}
.parrilla_opened, .brasa_opened, .fast-food_opened, .soup_opened, .beverages_opened{
    display: flex;
    justify-content: center;
    align-items: center;     
}
.parrilla_carta-container, .brasa_carta-container, .fast-food_carta-container, .soup_carta-container, .beverages_carta-container{
    top: 60px;
    z-index: 4;
    position: fixed;
    width: 90vw;
    height: 100vh;
    background: #F9F8F7;
    border-radius: 15px;
}
.parrilla_carta-container h2, .brasa_carta-container h2, .fast-food_carta-container h2, .soup_carta-container h2, .beverages_carta-container h2{
    margin-top: 40px;
    text-align: center;
    font-size: 3.6rem;
    color: var(--main-orange);
}
.parrilla__close, .brasa__close, .fast-food__close, .soup__close, .beverages__close{
    position: absolute;
    top: 10px;
    right: 25px;
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
    background-image: url('../icons/menu__close.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}