:root{
    --main-color: #D98E04;
    --main-orange: #D97904;
    --main-brown: #A63F03;
    --main-white: #F9F8F7;
    --secunday-brown: #732002;
    --main-black: #0D0D0D;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    background: var(--main-black);
    color: var(--main-white);
}
header {
    height: 60px;
    width: 100%;
    background: var(--main-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 15px var(--main-orange);
}
.header-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Tamaño de los elementos*/
.header-signup a{
    display: flex;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: center;
}
.header__logo img{
height: 50px;
}
.header-signup img{
    width: 40px;
}
/*Tamaño del shopcar*/
.header-shopcar{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-image: url("../icons/shopcar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Posicionando el contador en elk shopcar*/
.header-shopcar span{
    margin-left: 7px;
    margin-bottom: 10px;
}
/*Tamaño del button open navigation*/
.header-container2 .header-menu__open{
    height: 20px;
    width: 27px;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../icons/menu.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-menu__close{
    position: absolute;
    top: 20px;
    right: 25px;
    height: 43.75px;
    width: 43.75px;
    border: none;
    cursor: pointer;
    background: transparent;
    background-image: url("../icons/menu__close.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-menu{
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    background: rgba(13, 13, 13, 0.75);
    width: 100vw;
    height: auto;
    backdrop-filter: blur(15px);

}

.header-menu nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.header-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.header-menu ul li{
    margin: 14px;
}
.header-menu ul a{
    text-decoration: none;
    color: var(--main-white);
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.header-menu ul a:hover{
    transition: all 0.5s;
    font-size: 4.2rem;
}
.menu_opened {
    display: block;
    backdrop-filter: blur(15px);
}
.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.main-index .main-index-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.main-index .main-index-title h1{
    margin-top: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
}
.main-index .main-index-title p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 14px;
    margin-bottom: 25px;
}
.main-index .main-index-title img{
    width: 100vw;
    max-width: 1200px;
}